<%= form_with(scope: :session, url: login_path) do |f| %>
  <div class="container">
  <div class="items">
    <div class="items-head">
        <div class="form-group">
        <p style="text-align : center ;">Login <p>
        </div>
        <div class="items-body">
        <div>
          <%= f.label :email %><br/>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :password %><br/>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
        </div>
     </div>
  </div>
<% end %>