
<div class="container">
<div class="items">
<div class="items-head">
<p style="text-align:center ; ">UPDATE -<b style="color : red" ><%= @project.title %></b>- PROJECT</p>
</div>
<div class="items-body">
  <form action="/project/update/" method='post' value='project'>

    <input style="display:none" type="hidden" id="id" name="id" value=<%= @project.id %> >

    <label for="fname">Title:</label><br>
    <input type="text" id="title" name="title" value=<%= @project.title %> ><br>
    <label for="lname">Description:</label><br>
    <input type="text" id="description" name="description" value=<%= @project.description %> ><br>

    <% if current_user.role =="admin" %>
      <label for="lname">User:</label><br>
      <select name="user_id">
        <option value=<%= @user.id %> selected><%= @user.email %></option>
        <% @users.each do |user| %> 
          <option value=<%= user.id %>><%= user.email%></option>
        <% end %>
      </select>
    <% end %>
    <br><br>

    <input class="btn" type="submit" value="Update">
  </form> 
  </div>
</div>
</div>
